<table class="table table-bordered">
  <thead>
    <tr>
      <td colspan="2">
        <div class"panel-heading">
          <a href="{% url 'accounts:account' %}" class="btn btn-secondary"><i class="fas fa-back"></i> Voltar</a>
          <a href="{% url 'accounts:songs-create' album_index=album_id %}" class="btn btn-info pull-right"><i class="fas fa-plus"></i> Adicionar Música</a>
        </div>
      </td>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Nome</th>
      <!-- <th>Duração</th> -->
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td>{{song.name}}</td>
      <td class="button-album">
        <div class="panel-heading">
          <a href="{% url 'accounts:songs-update' album_index=album_id song_index=song.id %}" class="btn btn-info"><i class="fas fa-edit"></i> Editar</a>
        </div>
        <div class="panel-heading">
          <a href="{% url 'accounts:songs-delete' album_index=album_id song_index=song.id %}" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
