{% extends 'accounts/base.html' %}

{% block title %}
Sua conta
{% endblock %}

{% block style %}
<style>
  #home {
    margin: -5px auto;
    padding: -30px;
    margin-right: 500px;
  }
  .button-album > a {
    margin: 10;
  }
</style>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#home">Perfil
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#albums">Albuns
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#contacts">Contatos
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#posts">Mídias/postagens
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div class="form-group">
      <div class="col-xs-4">
        <label>Nome:
        </label>{{musician}}
        <a href="{% url 'accounts:update' %}" class="btn btn-info mt-30" style="width: 20vw; margin: 10px">Editar perfil</a>
      </div>
      <div class="col-xs-4">
        <label>E-mail:
        </label>{{musician.email}}
      </div>
      <div class="col-xs-4">
      {% comment %}
        <label>Estilos Musicais:
        </label>{{musician.styles}}
      {% endcomment %}
      </div>
    </div>
  </div>
  <div class="tab-pane" id="albums">
    <h2>
    </h2>
    {% include 'accounts/album/albums.html' %}
  </div>
  <div class="tab-pane" id="contacts">
    <h2>
    </h2>
    {% include 'accounts/contact/contacts.html' %}
  </div>
  <div class="tab-pane" id="posts">
    <h2>
    </h2>
    {% include 'accounts/post/posts.html' %}
  </div>
  <!--/tab-pane-->
  <div class="tab-pane" id="settings">
  </div>
</div>
<!--/tab-content-->
{% endblock %}
