<table class="table table-bordered">
  <thead>
    <tr>
      <td colspan="5">
        <div class"panel-heading">
          <a href="{% url 'accounts:account' %}" class="btn btn-secondary"><i class="fas fa-back"></i> Voltar</a>
          <a href="{% url 'accounts:posts-create' %}" class="btn btn-info pull-right"><i class="fas fa-plus"></i> Adicionar Postagem</a>
        </div>
      </td>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Título</th>
      <th>Texto</th>
      <th>Imagem</th>
      <th>Mídia</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{post.title}}</td>
      <td style="width: 100%;">{{post.text}}</td>
      <td>
        <img src="{{ post.image.url }}" class="avatar img-thumbnail" alt="avatar" style="width: 200px;"></img>
      </td>
      <td>{{post.media}}</td>
      <td class="button-post">
        <div class="panel-heading">
          <a href="{% url 'accounts:posts-update' index=post.id %}" class="btn btn-info"><i class="fas fa-edit"></i> Editar</a>
        </div>
        <div class="panel-heading">
          <a href="{% url 'accounts:posts-delete' index=post.id %}" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
