{% extends 'focus.html' %}

{% block content %}
<div id="vomnibar">
  <div class="vomnibarSearchArea player paused">
    <div class="album cover">
      <div>
        <img class="" style="height: 80px;" src="{{ album.cover.url }}" alt="Cover" />
      </div>
    </div>
    <h3>{{ album.name }} - {{ musician.name }}</h3>
    {% if songs %}
      {% for song in songs %}
        <div id="song-{{ forloop.counter }}" class="song results">
          <h4>{{ song.name }}</h4>
          <audio controls preload src="{{ song.file.url }}">Não suportado</audio>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <ul></ul>
</div>
{% endblock %}
