{% extends 'focus.html' %}

{% block title %}
{{display_query}}
{% endblock %}

{% block content %}
<div id="vomnibar">
  <div class="vomnibarSearchArea">
    <span>Pesquise por músicos:</span>
    <form>
      <input id="vomnibarInput" type="text" name="query" autocomplete="on" />
      <input type="submit" style="display: none" />
    </form>
    {% for r in result %}
      <a href="{% url 'music:profile' slug=r.slug %}">
        <div class="results">
          <img src="{{ r.image.url }}" class="" style="height: 70px;" alt="avatar"></img>
          <h5>
            {% if r.artistic_name %}
              {{ r.artistic_name }}
            {% else %}
              {{ r.name }}
            {% endif %}
          </h5>
          {% if r.description %}
            {{ r.description }}
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
  <ul></ul>
</div>
{% endblock %}
